<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>


<!-- Button trigger modal -->



<!--  <img src="/templates/user/icons/logo.svg" alt="logo" width="400" height="300">-->
<!--  <button type="button" class="btn-close btn-close-white" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>-->

<div class="container">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>

    <h1 class="text-center">test</h1>

    <div th:each="el :${tmp}" class="alert alert-info mt-2">
        <h3 th:text="${el.id}"></h3>
        <h3 th:text="${el.name}"></h3>
        <h3 th:text="${el.descriptions}"></h3>
        <h3 th:text="${el.data}"></h3>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <!--          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>-->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <form class="row m-0 p-0" action="/test/add" method="post">


                    <!--                <div class="row g-3">-->

                    <!--                    <label for="name" class="col-md-auto col-form-label">Названия новости</label>-->
                    <!--                    <div class="col-sm-4">-->
                    <!--                        <input type="text" id="name" class="form-control">-->
                    <!--                    </div>-->

                    <!--                    <label for="data" class="col-md-auto col-form-label">Дата публикации</label>-->

                    <!--                    <div class="col-sm-4">-->
                    <!--                        <input type="date" id="data" class="form-control">-->
                    <!--                    </div>-->
                    <!--                </div>-->


                    <div class="row gy-4">

                        <div class="col row m-0 p-0">
                            <label for="name" class="col-4 col-form-label">Названия новости</label>

                            <div class="col-sm-6">
                                <input type="text" id="name" name = "name" class="form-control">
                            </div>
                        </div>

                        <div class="col row">
                            <label for="data" class="col-4 col-form-label">Дата публикации</label>

                            <div class="col-6">
                                <input type="date" id="data" name="data" class="form-control">
                            </div>
                        </div>

                    </div>



                    <div class="form-row gy-4">
                        <div class="col row">
                            <label for="describe" class="col-2 col-form-label">Описания</label>

                            <div class="col">
                                <textarea class="form-control" id="describe" name="describe" rows="3"></textarea>
                            </div>
                        </div>
                    </div>



                    <div class="form-row gy-4">
                        <div class="col row">
                            <label for="describe" class="col-2 col-form-label pe-4">Главна картинка</label>

                            <div class="col">
                                <div class="position-relative d-inline-block img-width me-3 mt-4">
                                    <button type="button" class="position-absolute top-0 start-100 translate-middle btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                        </svg>
                                    </button>

                                    <button type="button" class="btn deleteImage">
                                        <img class="rounded" src="https://us.123rf.com/450wm/anekoho/anekoho1901/anekoho190100214/116524334-train-in-city-in-tokyo-with-sunset-background-tokyo-japan-this-immage-can-use-for-transportation-and.jpg?ver=6" width="160" height="100">
                                    </button>
                                </div>


                                <div class="position-relative d-inline-block img-width ms-3 mt-4 addImg">
                                    <!--                              <button type="button" class="position-absolute top-0 start-100 translate-middle btn">✕</button>-->
                                    <button type="button" class="btn imgAdd" style="height:100px; width:160px">
                                        <svg width="40" height="40" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg>
                                    </button>
                                </div>




                                <script>
                                    $(document).on("click", "button.deleteImage" , function() {
                                        $(this).parent().remove();
                                    });

                                    $(".imgAdd").click(function(){
                                        $(this).closest(".row").find('.addImg').before(
                                            '                         <div class="position-relative d-inline-block img-width me-3 mt-4">\n' +
                                            '                              <button type="button" class="position-absolute top-0 start-100 translate-middle btn">\n' +
                                            '                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">\n' +
                                            '                                      <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>\n' +
                                            '                                  </svg>\n' +
                                            '                              </button>\n' +
                                            '\n' +
                                            '                              <button type="button" class="btn">\n' +
                                            '                                  <img class="rounded" src="https://us.123rf.com/450wm/anekoho/anekoho1901/anekoho190100214/116524334-train-in-city-in-tokyo-with-sunset-background-tokyo-japan-this-immage-can-use-for-transportation-and.jpg?ver=6" width="160" height="100">\n' +
                                            '                              </button>\n' +
                                            '                          </div>');
                                    });

                                </script>



                            </div>
                        </div>



                        <div class="form-row gy-4">
                            <div class="col row">
                                <label for="describe" class="col-2 col-form-label pe-4">Галерея картинок</label>

                                <div class="col">
                                    <textarea class="form-control" id="describe" rows="3"></textarea>
                                </div>
                            </div>
                        </div>


                        <div class="fom-row gy-4">
                            <div class="col row">
                                <label for="trailer" class="col-2 col-form-label pe-4">Сылка на трейлер</label>

                                <div class="col">
                                    <input type="text" id="trailer" name="trail" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-row gy-4">

                            <div class="col row">

                                <label for="trailer" class="col-2 col-form-label pe-4">Тип кино</label>

                                <div class="col">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="2d" value="2d">
                                        <label class="form-check-label" for="2d">2D</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="3d" value="3d">
                                        <label class="form-check-label" for="3d">3D</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="imax" value="imax">
                                        <label class="form-check-label" for="imax">IMAX</label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Save changes</button>

                </form>


                <!--&lt;!&ndash;          <form class="row g-3 container">&ndash;&gt;-->



                <!--&lt;!&ndash;            <div class="row">&ndash;&gt;-->

                <!--&lt;!&ndash;              <div class="row">&ndash;&gt;-->
                <!--&lt;!&ndash;                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Email</label>&ndash;&gt;-->
                <!--&lt;!&ndash;                <div class="col-sm-3">&ndash;&gt;-->
                <!--&lt;!&ndash;                  <input type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="col-form-label-lg">&ndash;&gt;-->
                <!--&lt;!&ndash;                </div>&ndash;&gt;-->
                <!--&lt;!&ndash;              </div>&ndash;&gt;-->

                <!--&lt;!&ndash;              <div class="row">&ndash;&gt;-->
                <!--&lt;!&ndash;                <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Email</label>&ndash;&gt;-->
                <!--&lt;!&ndash;                <div class="col-sm-3">&ndash;&gt;-->
                <!--&lt;!&ndash;                  <input type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="col-form-label-lg">&ndash;&gt;-->
                <!--&lt;!&ndash;                </div>&ndash;&gt;-->
                <!--&lt;!&ndash;              </div>&ndash;&gt;-->

                <!--&lt;!&ndash;            </div>&ndash;&gt;-->


                <!--&lt;!&ndash;          </form>&ndash;&gt;-->

                <form class="row m-0 p-0 needs-validation" method="post">
                    <div class="col">

                        <div class="row justify-content-center mt-4">
                            <label for="name" class="col-4 col-form-label">Имя</label>

                            <div class="col-sm-6">
                                <input type="text" id="name" name = "name" class="form-control" required>
                            </div>
                        </div>

                        <div class="row justify-content-center mt-4">
                            <label for="surname" class="col-4 col-form-label">Фамилия</label>

                            <div class="col-sm-6">
                                <input type="text" id="surname" name = "surname" class="form-control" required>
                            </div>
                        </div>

                        <div class="row justify-content-center mt-4">
                            <label for="nickname" class="col-4 col-form-label">Псевдоним</label>

                            <div class="col-sm-6">
                                <input type="text" id="nickname" name = "nickname" class="form-control" required>
                            </div>
                        </div>

                        <div class="row justify-content-center mt-4">
                            <label for="email" class="col-4 col-form-label">Email</label>

                            <div class="col-sm-6">
                                <input type="email" id="email" name = "email" class="form-control" required>
                            </div>
                        </div>

                        <div class="row justify-content-center mt-4">
                            <label for="phone" class="col-4 col-form-label">Телефон</label>

                            <div class="col-sm-6">
                                <input type="text" id="phone" name = "phone" class="form-control" required>
                            </div>
                        </div>

                        <div class="row justify-content-center mt-4">
                            <label for="password" class="col-4 col-form-label">Пароль</label>

                            <div class="col-sm-6">
                                <input type="password" id="password" name = "password" class="form-control" required>
                            </div>
                        </div>

                    </div>

                    <div class="form-group col">

                        <div class="row justify-content-center mt-4">
                            <label for="card" class="col-4 col-form-label">Пол</label>

                            <div class="col-6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="gender" type="radio" id="male" value="male" required/>
                                    <label class="form-check-label" for="male">Мужской</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="gender" type="radio" id="female" value="female" required/>
                                    <label class="form-check-label" for="female">Женский</label>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center mt-4">
                            <label for="birthday" class="col-4 col-form-label">Дата рождения</label>

                            <div class="col-6">
                                <input type="date" id="birthday" name="birthday" class="form-control" required>
                            </div>
                        </div>

                        <div class="row justify-content-center mt-4">
                            <label for="address" class="col-4 col-form-label">Город</label>

                            <div class="col-sm-6">
                                <select class="form-select" aria-label="Default select example" required>
                                    <!--                                <option selected>City</option>-->
                                    <option value="one">One</option>
                                    <option value="two">Two</option>
                                    <option value="three">Three</option>
                                </select>

                            </div>
                        </div>

                        <div class="row justify-content-center mt-4">
                            <label for="address" class="col-4 col-form-label">Адресс</label>

                            <div class="col-sm-6">
                                <input type="text" id="address" name = "address" class="form-control" required>
                            </div>
                        </div>


                        <div class="row justify-content-center mt-4">
                            <label for="card" class="col-4 col-form-label">Номер карты</label>

                            <div class="col-sm-6">
                                <input type="text" id="card" name = "card" class="form-control" required>
                            </div>
                        </div>

                        <div class="row justify-content-center mt-4">
                            <label for="repeat_password" class="col-4 col-form-label">Повторите пароль</label>

                            <div class="col-sm-6">
                                <input type="password" id="repeat_password" name = "email" class="form-control" required>
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary">Save changes</button>

                </form>





            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>






</body>
</html>