<footer th:fragment = "fotter" class="py-4 border-top">
  <div class="row justify-content-center ">

    <div class="col-5 col-md-2 mb-3">
      <h5>Афиша</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Расписание</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Скоро в прокате</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Кинотеатры</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Акции</a></li>
      </ul>
    </div>

    <div class="col-5 col-md-2 mb-3">
      <h5>О кинотеарте</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Новости</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Реклама</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Кафе-бак</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Контакты</a></li>
      </ul>
    </div>


    <div class="col-3 col-md-2 mb-3">
      <h5>Контакты</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">+38000000000</li>
        <li class="nav-item mb-2">+38000000000</li>
        <li>

          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-dark" href="#">test</a></li>
            <li class="ms-3"><a class="link-dark" href="#">test</a></li>
            <li class="ms-3"><a class="link-dark" href="#">test</a></li>
            <li class="ms-3"><a class="link-dark" href="#">test</a></li>
          </ul>

        </li>
      </ul>
    </div>

    <div class="col-2 col-md-2 mb-3">
      <h5>Приложения</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Приложения</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Приложения</a></li>
      </ul>
    </div>

  </div>



  <p class="py-4 text-center">© 2022 KinoCMS, Inc. All rights reserved.</p>

</footer>