<header th:fragment = "header" class="p-3 text-bg-dark">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

    <a href="/" class="me-2">
      <img src="/templates/user/icons/logo.svg" alt="logo" width="40" height="40">
    </a>

    <ul class="nav col-6 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-3 text-white">Афиша</a></li>
      <li><a href="#" class="nav-link px-3 text-white">Расписание</a></li>
      <li><a href="#" class="nav-link px-3 text-white">Скоро</a></li>
      <li><a href="#" class="nav-link px-3 text-white">Акции</a></li>
      <li>
        <a href="#" class="nav-link px-3 text-white d-block dropdown-toggle" data-bs-toggle="dropdown">О кинотеатре</a>

        <ul class="dropdown-menu dropdown-menu-dark gap-1 p-2 rounded-3 mx-0 border-0 shadow w-220px">
          <li><a class="dropdown-item rounded-2" href="#">Новости</a></li>
          <li><a class="dropdown-item rounded-2" href="#">Реклама</a></li>
          <li><a class="dropdown-item rounded-2" href="#">Кафе</a></li>
          <li><a class="dropdown-item rounded-2" href="#">Приложения</a></li>
          <li><a class="dropdown-item rounded-2" href="#">Контакты</a></li>
        </ul>

      </li>
    </ul>



    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
      <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
    </form>

    <div class="text-end">
      <button type="button" class="btn btn-outline-light me-2">Login</button>
      <button type="button" class="btn btn-warning">Sign-up</button>
    </div>

  </div>
</header>
