<div th:fragment = "modal" class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <!--          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>-->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div th:insert="user/bloks/form :: form"></div>

      </div>
      <div class="modal-footer justify-content-center">
        <button type="submit" form="registrationForm" class="btn btn-primary btn-ml col-6">Save changes</button>
      </div>
    </div>
  </div>
</div>