<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin_layout}">
<head>
    <title>Shares</title>
</head>
<body>

<div class="container" layout:fragment="content">

    <div class="my-4">
        <h2 class="text-center my-3">На главной верх</h2>

        <div id="banners-blocks-up" class="row my-4">


            <!--      blocks-->

            <div id="banners-block-add-up" class="col-auto my-3">
                <button type="button" class="btn figure-img" onclick="createBannerBlockUp()" style="height:280px; width:240px">
                    <svg width="60" height="60" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                    </svg>
                </button>
            </div>


        </div>

        <div class="row my-4 justify-content-around">
            <div class="col-3 align-self-center">
                <div class="row">
                    <label for="city" class="col col-form-label">Скорость вращения</label>

                    <div class="col-auto">
                        <select id="city" name="city" class="form-select" aria-label="Default select example" required="">
                            <option selected disabled value="">Speed</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
            </div>

            <button id="" type="button" onclick="" class="btn btn-primary btn-ml btn-lg col-3">Save changes</button>

            <div class="col-3 align-self-center">
                <div class="row">
                    <label class="col-auto form-check-label" for="active">Вкл</label>

                    <div class="col-auto form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="active" name="active" checked="">
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="my-4">
        <h2 class="text-center my-3">Сквозной банер на заднем фоне</h2>

        <div class="row my-4">
            <div class="col-auto">
                <div class="card" style="width: 15rem;">
                    <button type="button" onclick="deleteFilmBlock()" class="position-absolute top-0 start-100 translate-middle btn" style="border-radius: 50%; background: rgba(192, 192, 192, 0.5);">
                        <img id="image-block-2" src="/admin/icons/cancel.svg" height="15" width="15">
                    </button>

                    <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Default radio
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Default checked radio
                            </label>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="my-4">
        <h2 class="text-center my-3">На главной Новости Акции</h2>

        <div id="banners-blocks-news" class="row my-4">

            <!--      blocks-->


            <div id="banners-block-add-news" class="col-auto my-3">
                <button type="button" class="btn figure-img" onclick="createBannerBlockNews()" style="height:235px; width:240px">
                    <svg width="60" height="60" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                    </svg>
                </button>
            </div>


        </div>

        <div class="row my-4 justify-content-around">
            <div class="col-3 align-self-center">
                <div class="row">
                    <label for="city" class="col col-form-label">Скорость вращения</label>

                    <div class="col-auto">
                        <select id="city" name="city" class="form-select" aria-label="Default select example" required="">
                            <option selected disabled value="">Speed</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
            </div>

            <button id="" type="button" onclick="" class="btn btn-primary btn-ml btn-lg col-3">Save changes</button>

            <div class="col-3 align-self-center">
                <div class="row">
                    <label class="col-auto form-check-label" for="active">Вкл</label>

                    <div class="col-auto form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="active" name="active" checked="">
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<th:block layout:fragment="scripts">


    <script src="/admin/JS/modal.js"></script>
    <script src="/admin/JS/banners.js"></script>


</th:block>

</body>
</html>