<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin_layout}">
<head>
    <title>Films</title>
</head>
<body>

<div class="container" layout:fragment="content">
    <div class="mb-4">
        <h2 class="text-center my-3">Список текущих фильмов</h2>

        <div id="films-blocks" class="col my-4">
            <figure id="add-block-film" class="figure m-2">
                <button type="button" class="btn figure-img" onclick="formCreate()" style="height: 280px; width: 230px;">
                    <svg width="40" height="40" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                    </svg>
                </button>

                <figcaption class="figure-caption text-center">Add film</figcaption>
            </figure>
        </div>
    </div>


    <div class="mb-4">
        <h2 class="text-center my-3">Список фильмов которые скоро покажут</h2>

        <div class="row">

        </div>

    </div>


    <div class="modal fade" id="modal-window" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <!--          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>-->
                    <button id="close-modal" type="button" class="btn-close" onclick="modalHide()" aria-label="Close"></button>
                </div>
                <div id="modal-body" class="modal-body">

                    <!--                        <div th:insert="~{admin/bloks/news_form :: news-from}"></div>-->



                </div>
                <div class="modal-footer justify-content-center">
                    <button id="save-button" type="button" onclick="saveNews()" class="btn btn-primary btn-ml btn-lg col-4 my-2">Save changes</button>
                </div>
            </div>
        </div>
    </div>


</div>


<th:block layout:fragment="scripts">

    <script src="/admin/JS/banners.js"></script>
    <script src="/admin/JS/image.js"></script>
    <script src="/admin/JS/modal.js"></script>

    <script>
        $(document).ready(function() {
            getFilms();
        });

        function formCreate() {
            $("#modal-body").append(
                '    <form id="film-from" class="row m-0 p-0 needs-validation my-4" enctype="multipart/form-data" method="post">\n' +
                '\n' +
                '        <div class="form-group col">\n' +
                '\n' +
                '            <div class="row">\n' +
                '                <label for="name" class="col-4 col-form-label">Названия фильма</label>\n' +
                '\n' +
                '                <div class="col-sm-4">\n' +
                '                    <input type="text" id="name" name = "name" class="form-control">\n' +
                '                </div>\n' +
                '            </div>\n' +
                '\n' +
                '        </div>\n' +
                '\n' +
                '        <div class="form-group col">\n' +
                '\n' +
                '            <div class="row">\n' +
                '                <label for="date" class="col-4 col-form-label">Дата публикации</label>\n' +
                '\n' +
                '                <div class="col-4">\n' +
                '                    <input type="date" id="date" name="date" class="form-control">\n' +
                '                </div>\n' +
                '            </div>\n' +
                '\n' +
                '        </div>\n' +
                '\n' +
                '        <div class="form-group row">\n' +
                '\n' +
                '            <div class="row mt-4">\n' +
                '                <label for="descriptions" class="col-2 col-form-label">Описания</label>\n' +
                '\n' +
                '                <div class="col">\n' +
                '                    <textarea class="form-control" id="descriptions" name="descriptions" rows="3"></textarea>\n' +
                '                </div>\n' +
                '            </div>\n' +
                '\n' +
                '            <div class="row mt-4">\n' +
                '                <label for="add-main-image" class="col-2 col-form-label pe-4">Главна картинка</label>\n' +
                '\n' +
                '                <div id="main-images"  class="col">\n' +
                '\n' +
                '                    <div id="add-block-main-image" class="position-relative d-inline-block img-width my-2">\n' +
                '                        <button type="button" id="add-main-image" class="btn" style="height:100px; width:160px">\n' +
                '                            <svg width="40" height="40" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">\n' +
                '                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>\n' +
                '                            </svg>\n' +
                '                        </button>\n' +
                '                    </div>\n' +
                '\n' +
                '                </div>\n' +
                '\n' +
                '            </div>\n' +
                '\n' +
                '\n' +
                '            <div class="row mt-4">\n' +
                '                <label for="add-gallery-image" class="col-2 col-form-label pe-4">Галерея картинок</label>\n' +
                '\n' +
                '                <div class="col" id="gallery-images">\n' +
                '                    \n' +
                '\n' +
                '                    <div id="add-block-gallery-image" class="position-relative d-inline-block img-width my-2">\n' +
                '                        <!--                              <button type="button" class="position-absolute top-0 start-100 translate-middle btn">✕</button>-->\n' +
                '                        <button type="button" id="add-gallery-image" class="btn" style="height:100px; width:160px">\n' +
                '                            <svg width="40" height="40" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">\n' +
                '                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>\n' +
                '                            </svg>\n' +
                '                        </button>\n' +
                '                    </div>\n' +
                '\n' +
                '                </div>\n' +
                '\n' +
                '            </div>\n' +
                '\n' +
                '\n' +
                '\n' +
                '            <div class="row mt-4">\n' +
                '                <label for="link" class="col-2 col-form-label">Ссылка на трейлер</label>\n' +
                '\n' +
                '                <div class="col">\n' +
                '                    <input type="text" id="link" name= "link" class="form-control">\n' +
                '                </div>\n' +
                '            </div>\n' +
                '\n' +
                '            <div class="row mt-4">\n' +
                '\n' +
                '                <label class="col-2 col-form-label pe-4">Тип кино</label>\n' +
                '\n' +
                '                <div class="col">\n' +
                '                    <div class="form-check form-check-inline">\n' +
                '                        <input class="form-check-input" name="film_type" type="checkbox" id="2d" value="2D">\n' +
                '                        <label class="form-check-label" for="2d">2D</label>\n' +
                '                    </div>\n' +
                '                    <div class="form-check form-check-inline">\n' +
                '                        <input class="form-check-input" name="film_type" type="checkbox" id="3d" value="3D">\n' +
                '                        <label class="form-check-label" for="3d">3D</label>\n' +
                '                    </div>\n' +
                '                    <div class="form-check form-check-inline">\n' +
                '                        <input class="form-check-input" name="film_type" type="checkbox" id="imax" value="imax">\n' +
                '                        <label class="form-check-label" for="imax">IMAX</label>\n' +
                '                    </div>\n' +
                '                </div>\n' +
                '\n' +
                '            </div>\n' +
                '\n' +
                '\n' +
                '            <div class="row mt-4">\n' +
                '                <label for="link" class="col-2 col-form-label">SEO блок:</label>\n' +
                '\n' +
                '\n' +
                '                <div class="col">\n' +
                '                    <div class="row mt-4">\n' +
                '                        <label for="seo-link" class="col-2 col-form-label">URL</label>\n' +
                '\n' +
                '                        <div class="col-6">\n' +
                '                            <input type="text" id="seo-link" name="seo-link" class="form-control">\n' +
                '                        </div>\n' +
                '                    </div>\n' +
                '\n' +
                '                    <div class="row mt-4">\n' +
                '                        <label for="seo-title" class="col-2 col-form-label">Title</label>\n' +
                '\n' +
                '                        <div class="col-6">\n' +
                '                            <input type="text" id="seo-title" name= "seo-title" class="form-control">\n' +
                '                        </div>\n' +
                '                    </div>\n' +
                '\n' +
                '                    <div class="row mt-4">\n' +
                '                        <label for="seo-keywords" class="col-2 col-form-label">Keywords</label>\n' +
                '\n' +
                '                        <div class="col-6">\n' +
                '                            <input type="text" id="seo-keywords" name="seo-keywords" class="form-control">\n' +
                '                        </div>\n' +
                '                    </div>\n' +
                '\n' +
                '                    <div class="row mt-4">\n' +
                '                        <label for="seo-descriptions" class="col-2 col-form-label">Descriptions</label>\n' +
                '\n' +
                '                        <div class="col-6">\n' +
                '                            <input type="text" id="seo-descriptions" name="seo-descriptions" class="form-control">\n' +
                '                        </div>\n' +
                '                    </div>\n' +
                '\n' +
                '\n' +
                '                    </div>\n' +
                '                </div>\n' +
                '            </div>\n' +
                '\n' +
                '\n' +
                '    </form>'
            )

            $("#save-button").attr("onclick", "saveFilm()");
            modalShow();
        }

        function getFilms() {
            let data = {}

            $.ajax({
                type: 'get',
                dataType: "json",
                url: '../admin/films/films-getAll',
                cache: false,
                data: data,

                success: function (data){
                    $.each(data, function(index, film) {
                        $("#add-block-film").before(
                            '        <div id="film-block-' + film.id + '" class="image-block position-relative d-inline-block img-width me-4 my-2" name="film-block">\n' +
                            '            <button type="button" onclick="deleteFilm(' + film.id + ')" class="position-absolute top-0 start-100 translate-middle btn" style="border-radius: 50%; background: rgba(192, 192, 192, 0.5);">\n' +
                            '                <img src="/admin/icons/cancel.svg" height="15" width="15">                            </button>\n' +
                            '\n' +
                            '            <figure onclick="editFilm('+ film.id +')" class="figure">\n' +
                            '                <img\n' +
                            '                        id="image-block-' + film.id + '"' +
                            '                        src="/image/'+ film.main_image +'"\n' +
                            '                        class="figure-img img-fluid rounded" alt="..." style="height: 280px; width: 230px;">\n' +
                            '                <figcaption class="figure-caption text-center">'+ film.name +'</figcaption>\n' +
                            '            </figure>\n' +
                            '        </div>'
                        )
                    })
                },

                error: function() {}
            });
        }

        function saveFilm() {
            let formData = new FormData();
            let types = []

            $( "[name = 'film_type']" ).each(function(index, value) {
                if ($( this ).is(":checked") ){
                    types.push($(this).val());
                }
            });


            let filmInfo = {
                name: $("#name").val(),
                date: $("#date").val(),
                active: $("#active").is(":checked"),
                types: types,

                descriptions: $("#descriptions").val(),
                link: $("#link").val(),

                seo: {
                    url: $("#seo-link").val(),
                    title: $("#seo-title").val(),
                    keywords: $("#seo-keywords").val(),
                    descriptions: $("#seo-descriptions").val() }
            };

            formData.append('film_info', JSON.stringify(filmInfo));

            $.each($("[name='main-image']"), function (index, value) {
                if(value.files[0] === undefined) {
                    return true;
                }

                formData.append('main_image', $("[name='main-image']").prop('files')[0]);
            });



            $.each($("[name='gallery-image']"), function (index, value) {
                if(value.files[0] === undefined) {
                    return true;
                }

                formData.append('gallery_images', value.files[0]);
            });


            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '../admin/films/films-add',
                cache: false,
                data: formData,
                contentType: false,
                processData: false,

                success: function (film) {

                    $("#news-content-table").append(
                            $("#add-block-film").before(
                                '        <div id="film-block-' + film.id + '" class="image-block position-relative d-inline-block img-width me-4 my-2" name="film-block">\n' +
                                '            <button type="button" onclick="deleteFilm(' + film.id + ')" class="position-absolute top-0 start-100 translate-middle btn" style="border-radius: 50%; background: rgba(192, 192, 192, 0.5);">\n' +
                                '                <img src="/admin/icons/cancel.svg" height="15" width="15">                            </button>\n' +
                                '\n' +
                                '            <figure onclick="editFilm('+ film.id +')" class="figure">\n' +
                                '                <img\n' +
                                '                        id="image-block-' + film.id + '"' +
                                '                        src="/image/'+ film.main_image +'"\n' +
                                '                        class="figure-img img-fluid rounded" alt="..." style="height: 280px; width: 230px;">\n' +
                                '                <figcaption class="figure-caption text-center">'+ film.name +'</figcaption>\n' +
                                '            </figure>\n' +
                                '        </div>'
                            )
                        ).show('slow');


                    modalHide();
                },

                error: function () {
                    console.log("Error: save film");
                }

            });
        }

        function updateFilm(id) {
            let formData = new FormData();

            let main_image;
            let gallery_images = [];

            $.each($("[name='main-image']"), function (index, value) {
                if(value.files[0] === undefined) {
                    main_image = $("#main-image").attr('src').substring(7);

                    return true;
                }

                main_image = "change";


                formData.append('main_image', $("[name='main-image']").prop('files')[0]);
            });


            $.each($("[name='gallery-image']"), function (index, value) {

                if(value.files[0] === undefined) {
                    gallery_images.push(
                        $("#gallery-image-" + [value.attributes[0].value.replace(/[^0-9]/g, '')]).attr('src').substring(7)
                    );

                    return true;
                }


                gallery_images.push("change");

                // formData.append('gallery_images', value.files[0], "gallery-image-" + (index+1)  + '.' + value.files[0].name.split('.')[1]);
                formData.append('gallery_images', value.files[0]);
            });

            let filmInfo = {
                id: id,
                name: $("#name").val(),
                date: $("#date").val(),
                active: $("#active").is(":checked"),
                descriptions: $("#descriptions").val(),
                link: $("#link").val(),

                seo: {
                    // id: news.seo.id,
                    url: $("#seo-link").val(),
                    title: $("#seo-title").val(),
                    keywords: $("#seo-keywords").val(),
                    descriptions: $("#seo-descriptions").val()
                },

                main_image: main_image,

                gallery_images: gallery_images
            };

            formData.append('film_info', JSON.stringify(filmInfo));


            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '../admin/films/films-update',
                cache: false,
                data: formData,
                contentType: false,
                processData: false,

                success: function (change) {
                    // $("#news-name-" + change.id).html(change.name);
                    // $("#news-date-" + change.id).html(change.date);
                    // $("#news-active-" + change.id).html((change.active ? "Вкл" : "Выкл"));

                    // #("#image-block-" + change.id).attr('src', "/image/" + change.main_image)
                    $("#image-block-" + change.id).attr("src", "/image/" + change.main_image);
                    modalHide();
                },

                error: function () {}

            });
        }

        function editFilm(id) {
            $.ajax({
                type: 'get',
                dataType: "json",
                url: '/admin/films/films-getById',
                cache: false,
                data: {
                    id: id
                },

                success: function(film) {
                    formCreate();

                    $("#name").val(film.name);
                    $("#date").val(film.date);

                    $("#descriptions").val(film.descriptions);
                    $("#link").val(film.link);

                    $("#seo-link").val(film.seo.url);
                    $("#seo-title").val(film.seo.title);
                    $("#seo-keywords").val(film.seo.keywords);
                    $("#seo-descriptions").val(film.seo.descriptions);


                    $("#add-main-image").trigger("click");
                    $("#main-image").attr("src", "/image/" + film.main_image);

                    $.each(film.gallery_images, function (index, value) {
                        $("#add-gallery-image").trigger("click");
                        $("#gallery-image-" + (index + 1)).attr("src", "/image/" + value);
                    });

                    $("#save-button").attr("onclick", "updateFilm(" + film.id + ")");
                    modalShow()
                },

                error: function() {}
            });
        }

        function deleteFilm(id){
            $.ajax({
                type: 'post',
                dataType: "json",
                url: '/admin/films/films-deleteById',
                cache: false,
                data: {
                    id: id
                },

                success: function() {
                    $("#film-block-"+ id).hide("slow", function(){ $(this).remove(); })
                },

                error: function() {}
            });
        }


    </script>


</th:block>

</body>
</html>